@import 'nib'
@import 'vendor/normalize.css'
@import 'base'

.logo
  position absolute
  top 0
  left 0
  z-index 99999999999

.logo a img
	width 100px

.logo a img:hover
  background transparent !important
  border-color none !important
  box-shadow none !important
